<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='font-awesome.css')}}"  />    
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} - scippyCRM</title>
</head>
<body>
    {% include "top.html" %}

    {% if session.logged_in %}
        {% include "appnav.html" %}
    {% endif %}

    <section id="main">
        <div class="wrapper">
            <div class="main_holder">
                {% block main %}
                {% endblock %}
            </div>
        </div>    
    </section>

    {% include "footer.html" %}
</body>
</html>