<section id="top">
    <div class="wrapper">
        <div class="top_holder">
            <div class="logo">                
                <img src="{{url_for('static', filename='scippycrm-logo.svg')}}" />
            </div>
            <div class="topnav">
                <ul>
                    {% if session.logged_in %}
                        <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                        <li><a href="{{ url_for('users.logout') }}">Log out</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>    
</section>