{% extends "base.html" %}

{% block main %}
    <div id="organisations" class="overview">
        <div class="row">
            <h3>Organisations ({{num_orgs}})</h3>
            <a href="{{url_for('organisations.organisation', org_id='new')}}" class="readmore">+</a>
        </div>
        <div class="overview_header">
            <div class="overview_header_col">
                Name
            </div>
            <div class="overview_header_col">
                City
            </div>
            <div class="overview_header_col">
                Phone
            </div>
            <div class="overview_header_col">
                URL
            </div>
        </div>
        <div class="overview_content">
            {% for org in orgs %}            
            <div class="overview_content_row {{ loop.cycle('odd', 'even') }}">
                <a href="{{url_for('organisations.organisation', org_id=org._id)}}">
                    <div class="overview_content_col">
                        {{org.name}}
                    </div>
                    <div class="overview_content_col">
                        {{org.city}}
                    </div>
                    <div class="overview_content_col">
                        {{org.phone}}
                    </div>
                    <div class="overview_content_col">
                        {{org.url}}
                    </div>
                </a>
            </div>            
            {% endfor %}
        </div>        
    </div>
{% endblock %}