{% from '_render_field.html' import render_field %}
{% extends "base.html" %}

{% block main %}
    <div id="user" class="form_block">
        <div class="row">
            <h3>User details</h3>
        </div>        
        <form method ="post" action="" novalidate>
            {{ form.hidden_tag() }}
            {{ form.user_id(value=user._id) }}
            <div class="form_row">
                <div class="form_col">
                    {{ render_field(form.username, value=user.username) }}
                    {% if user == {}  %}
                        {{ render_field(form.password, value=user.password) }}
                    {% endif %}
                </div>
                <div class="form_col">
                    {{ render_field(form.firstname, value=user.firstname) }}
                    {{ render_field(form.sirname, value=user.sirname) }}
                    {{ render_field(form.email, value=user.email) }}
                </div>
            </div>
            <div class="form_row">
                <div class="form_field">
                    {{ form.submit() }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}