{% extends "base.html" %}

{% block main %}
    <div id="users" class="overview">
        <div class="row">
            <h3>Users</h3>
            <a href="{{url_for('users.user', user_id='new')}}" class="readmore">+</a>
        </div>
        <div class="overview_header">
            <div class="overview_header_col">
                Username
            </div>
            <div class="overview_header_col">
                First name
            </div>
            <div class="overview_header_col">
                Sirname
            </div>
            <div class="overview_header_col">
                Email
            </div>
        </div>
        <div class="overview_content">
            {% for user in users %}            
            <div class="overview_content_row {{ loop.cycle('odd', 'even') }}">
                <a href="{{url_for('users.user', user_id=user._id)}}">
                    <div class="overview_content_col">
                        {{user.username}}
                    </div>
                    <div class="overview_content_col">
                        {{user.firstname}}
                    </div>
                    <div class="overview_content_col">
                        {{user.sirname}}
                    </div>
                    <div class="overview_content_col">
                        {{user.email}}
                    </div>
                </a>
            </div>            
            {% endfor %}
        </div>        
    </div>
{% endblock %}